<h1><%= @place["name"] %></h1>

<p>
<br>
<% for entry in @entries%>
<li>
  <%= entry["title"]%>
  <%= entry["description"]%>
  <%= entry["posted_on"]%>
<% end %>
</p>
<br><br>
<a href="/entries/new">New Post</a>
<br><br>
<a href="/places">Back to all Places</a>
